body{
    margin: 0px;
    background-color: #e1dfde; 
 }
 
 a{
     text-decoration: none;
     color: inherit;
 }

 footer{
   height: 280px;
   background-color: #e23745;
   margin-top: 3%;
 }

 /*Header Section*/
 header{
    height: 60px;
    /* border: 2px solid green; */
    background-color: #e23745;
 }

 

 #brand{
    /* border: 2px solid white; */
    float: left;
    color: white;
    font-size: 30px;
    margin-left: 2%;
    margin-top: 1%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;

    
 }
 .location-dropdown label {
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 2%;
    margin-top: 2%;
    color: #ffff;
  }
 .location-dropdown select{
    margin-top: 2%;
    float: left;
    background-color: #e23745;
    color: #ffff;
    cursor: pointer;
    
 }


 .search input{
    height: 30px;
    float: left;
    padding: 6px;
    border: 1px solid white;
    font-size: 16px;
    margin-top: 1%;
    margin-left: 2%;
    width: 40%;
    background-color: white;
    color: black;
    position: relative;
    border-radius: 5px;
    
    
    
}

.search button{
    position: absolute;
    margin-left: 0%;
    margin-top: 1%;
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
    background-color: #e23745;
    color: #ffffff;
    font-weight: bolder;
    border-color: #e23745;
  }
  
  .menu{
    float: right;
    height: 20px;
    width: 25%;
    margin-top: 1.5%;
    margin-right: 0%;
    /* border: 1px solid rgb(0, 255, 42); */
}
.menu a{
    color: white;
    padding-left: 25px; 
}

#content{
    width:85%;
    margin-left:7.5%;
    margin-top:3%;
    /* border: 2px solid red; */
    display: inline-block;
}

.filter{
    /* height: 500px; */
    width: 20%;
    /* border:2px solid green; */
    float: left;
    border-radius: 5%;
    box-shadow:6px 3px 3px gray;
}

p{
  font-style: italic;
}



.restContent{
    /* height:700px;  */
    width:70%;
    float: left;
    /* border:3px solid orange; */
    margin-left: 7%;
    
 }
.restaurants{
  /* border: 1px solid green; */
  height: 240px;
  border-radius: 5%;
  box-shadow:3px 3px 3px gray;
  /* margin-top: 2%; */
  
}

.restaurants:hover{
  transform: scale(1.05);
}

.banner{
  width: 45%;
  height: 100%;
  /* border: 2px solid orchid; */
  float: left;
}

.banner img{
  width: 100%;
  height: 100%;
  float: left;
  border-radius: 5%;
}

.cont{
  height: 100%;
  width: 55%;
  /* border: 2px solid yellow; */
  margin-left: 45%;
}

.title{
  font-size: x-large;
  color: #e23745;
  font-weight: bolder;
  
  
}

.cuisine{
  margin-top: 1.5%;
  color: gray;
  
  
}


.rating{
  float: left;
  margin-left: 20%;
  margin-top: 1.5%;
  background-color: green;
  width: 9%;
  border-radius: 5px;
}

.border{
  float: left;
  margin-left: 3%;
  margin-top: 2%;
}

.timing{
  float: left;
  margin-left: 3%;
  margin-top: 2%;
  
}

/* .border2{
  float: left;
  margin-left: 3%;
  margin-top: 5%;
} */

.price{
  float: left;
  margin-left: 3%;
  margin-top: 2%;
}


.offer{
  /* position: absolute; */
  display: block;
  margin-left: 28%;
  margin-top: 15%;
  color: #8a584b;
  font-weight: bolder;
  width: fit-content;
  
}

.stats{
  margin-left: 3%;
  height: 15px;
  /* border: 2px solid brown; */
  width: fit-content;
  float: left;
}

.stats img{

  width: 15px;
  height: 100%;
  
}

.stats span{
  
  font-size: smaller;
  
}



.delivery img{
  
  /* border: 2px solid brown; */
  margin-left: 80%;
  margin-top: -5%;
  width: 15%;
  height: 10%; 

}

.restaurants2{
  /* border: 1px solid green; */
  height: 240px;
  border-radius: 5%;
  box-shadow:3px 3px 3px gray;
  margin-top: 3%;
  
}

.restaurants2:hover{
  transform: scale(1.05);
}

/*media query (responsive)*/

@media screen and (max-width: 1117px){
  body{
      /* background-color:rgb(180, 184, 99) */
  }
  .menu{
    width: 23%;
    
}
.menu a{
  
  padding-left: 18px; 
}

}

@media screen and (max-width: 1090px){
  body{
      /* background-color:rgb(184, 99, 177) */
  }
  .menu{
    
    width: 23%;
    
}
.menu a{
  
  padding-left: 12px; 
}

}

@media screen and (max-width: 999px){
  body{
      /* background-color:rgb(99, 171, 184) */
  }
  .menu{
    
    width: 28%;
    
}
.menu a{
  
  padding-left: 3px; 
}

.search input{
 
  width: 28%;
 
  
}

.delivery img{
  
  /* border: 2px solid brown; */
  margin-left: 84%;
  width: 15%;
  height: 10%; 

}

}

@media screen and (max-width: 893px){
  body{
      /* background-color:rgb(234, 147, 136) */
      
  }
  .delivery img{
  
    /* border: 2px solid brown; */
    margin-left: 85%;
    width: 15%;
    height: 10%; 
  
  }
 
}

@media screen and (max-width: 893px){
  body{
      /* background-color:rgb(234, 147, 136) */
      
  }
  .delivery img{
  
    /* border: 2px solid brown; */
    margin-left: 85%;
    width: 15%;
    
  
  }
 
}

@media screen and (max-width: 841px){
  body{
      /* background-color:rgb(234, 147, 136) */
      
  }
  .delivery img{
  
    /* border: 2px solid brown; */
    margin-left: 89%;
    width: 11%;
    
  
  }
 
}

/*----footer-----*/
.brandlogo{
  
  color: white;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 2%;
  /* border: 2px solid white; */
  
}

.social-links{
  float: right;
  /* border: 2px solid yellow; */
  height: 30px;
  width:fit-content;
  margin-right: 23%;

}
.social-links img{
  height: 100%;
  width: 25%;
}

.country {
  float: right;
  font-size: 14px;
  font-weight: bold;
  margin-right: 0%;
  margin-top: 0%;
  color: #ffff;

}
.country select{
  margin-top: 0%;
  float: right;
  background-color: #e23745;
  color: #ffff;
  cursor: pointer;
  
  
}
.languages {
  float: right;
  font-size: 14px;
  font-weight: bold;
  margin-right: 0%;
  margin-top: 0%;
  color: #ffff;
  width: fit-content;
  /* border: 2px solid green; */

}
.languages select{
  margin-top: 0%;
  float: right;
  background-color: #e23745;
  color: #ffff;
  cursor: pointer;
  
  
}

.info{
  /* border: 2px solid yellow; */
  /* height: 500px; */
  width: 20%;
  margin-left: 2%;
  color: white;
  float: left;
}

ul{
  list-style-type: none;
}

.info img{
  height: 30px;
  width: 46%;
  float: right;
  margin-top: -70%;
  margin-right: -20%;
}

.info img{
  height: 30px;
  width: 46%;
  float: right;
  margin-top: -70%;
  margin-right: -20%;
  border-radius: 5px;
}

.copyrights span{
  
    float: right;
    height: 10px;
    margin-top: -1%;
    margin-right: 40%;
    color: white;
}





 

 






